.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
  position: fixed;
  left: 0; /* Sidebar always visible on large screens */
  transition: left 0.3s ease-in-out; /* Smooth transition for mobile view */
}

.sidebar.open {
  left: 0; /* Sidebar will be visible when open in mobile view */
}

.sidebar-header h2 {
  color: #f39c12;
  text-align: center;
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
}

.sidebar-links li {
  padding: 15px;
  cursor: pointer;
}

.sidebar-links li:hover {
  background-color: #34495e;
}

/* Media query for mobile view (max-width: 768px) */
@media (max-width: 768px) {
  .sidebar {
    left: -250px; /* Sidebar hidden on mobile by default */
  }

  .sidebar.open {
    left: 0; /* Sidebar visible when 'open' class is added on mobile */
    margin-top: 69px;
  }
}

/* Sidebar is always visible on screens larger than 768px */
@media (min-width: 769px) {
  .sidebar {
    left: 0; /* Ensure sidebar stays visible on larger screens */
  }
}
