/* BusinessModule.css */

/* Parent container styles */
.parentDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
  }

  
  .bussinessage-module-text {
    margin-left: 5px; /* Spacing between text and link */
    padding: 8px 16px; /* Add padding for the button feel */
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #145096; /* LinkedIn blue for button background */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  }
  
  
  
  /* Child div styles */
  .childDiv {
    width: 48%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  .image {
    width: 100%;
    height: auto;
  }
  
  /* Content section styles */
  .information {

    text-align: center;
    margin-top: 30px;
    font-size: large;
    
  }
  
  /* Media queries for mobile responsiveness */
  @media (max-width: 768px) {
    .parentDiv {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .childDiv {
      width: 100%; /* Full width for mobile devices */
      margin-bottom: 10px;
    }
  }
  