/* Businessmodule.css */
.content-container {
    width: 80%; /* Set the width of the div to 80% */
    margin: 0 auto; /* Center the div horizontally */
    padding: 20px; /* Optional padding to space out the content */
    text-align: justify; /* Ensure text is justified for better readability */
  }
  
  .content-container p {
    margin-bottom: 15px; /* Optional margin for spacing between paragraphs */
    font-size: 16px; /* Set the font size */
    line-height: 1.6; /* Adjust line height for readability */
  }
  /* Responsive Image */
.responsive-image {
    display: block;
    width: calc(100% - 90px); /* Full width minus left and right margin */
    margin: 20px 80px;
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  .content-container  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
  }
  .content-container ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .contin-text{
    font-size: large;
    font-weight: 700;
    font-family: sans-serif;
  }
  .content-wrapper-gelotics{
    display: flex;
  }
  .content-wrapper-list{
    width: 50%;
  }
  .content-wrapper-gelotics ul{
    width: 50%;
  }
  .content-wrapper-gelotics ul li{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
  }
  /* Mobile View */
  @media (max-width: 768px) {
    .responsive-image {
      width: 100%; /* Full width on smaller screens */
      margin: 0;   /* Remove margins */
    }
    .content-wrapper-gelotics{
      display: flex;
      flex-direction: column;
    }
    .content-wrapper-gelotics ul{
      width: 100%;
    }
  }